<f:layout name="default" />

This template displays a EDIT form for the current domain object.

<f:section name="main">
<h1>Edit Episode</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form method="post" action="update" name="episode" object="{episode}">
	<label for="title"><f:translate key="tx_podcast_domain_model_episode.title" /> <span class="required">(required)</span></label><br />
	<f:form.textbox property="title" /><br />
	<label for="title"><f:translate key="tx_podcast_domain_model_episode.description" /> <span class="required">(required)</span></label><br />
	<f:form.textbox property="description" /><br />
	<label for="title"><f:translate key="tx_podcast_domain_model_episode.file" /> <span class="required">(required)</span></label><br />
	<f:form.textbox property="file" /><br />
	<label for="title"><f:translate key="tx_podcast_domain_model_episode.publication_date" /></label><br />
	<f:form.textbox property="publicationDate" /><br />
	<label for="title"><f:translate key="tx_podcast_domain_model_episode.duration" /></label><br />
	<f:form.textbox property="duration" /><br />
	<f:form.submit value="Edit" />
</f:form>
</f:section>