<f:layout name="default" />
<f:section name="main">
	<f:flashMessages /> 
	<ul class="podcasts">
		<f:for each="{podcasts}" as="podcast">
			<li>
				<div class="image">   
					<f:if condition="{podcast.image}">
						<f:then>         
							<f:image height="100c" width="100c" src="uploads/tx_podcast/{podcast.image}" alt="{podcast.title}" />
						</f:then>
						<f:else>
							<f:image height="100c" width="100c" src="typo3conf/ext/podcast/Resources/Public/Icons/podcast.jpg" alt="{podcast.title}" />
						</f:else>
					</f:if>
				</div>
				<div class="description"> 
					<h2><f:link.action action="show" arguments="{podcast : podcast}">{podcast.title}</f:link.action>
						<f:if condition="{podcast.episodes}">
							<f:then> 
							<span>
								<f:link.action action="feed" arguments="{podcast : podcast}" pageType="1289377">
									<f:image src="typo3conf/ext/podcast/Resources/Public/Icons/tx_podcast_domain_model_podcast.gif" alt="<f:translate key='tx_podcast_domain_model_podcast.feed' />" />
									<f:translate key="tx_podcast_domain_model_podcast.links.feed" />
								</f:link.action>
							</span>
							</f:then>
						</f:if>
					</h2>    
					<h3>{podcast.subtitle}</h3>
				</div>
			</li>
		</f:for>
	</ul>  
</f:section>