<f:layout name="default" />
<f:section name="main">
	<f:flashMessages /> 
	<h1>Podcast Overview</h1>
	<ul class="podcasts">
		<f:for each="{podcasts}" as="podcast">
			<li>
				<div class="image">
					<f:image height="50c" width="50c" src="uploads/tx_podcast/{podcast.image}" alt="{podcast.title}" />
				</div>
				<div class="description"> 
					<h2><f:link.action action="show" arguments="{podcast : podcast}">{podcast.title}</f:link.action></h2>    
					<p><f:format.nl2br>{podcast.description}</f:format.nl2br> </p>
					<p><f:link.action action="feed" pluginName="Feed" arguments="{podcast : podcast}" pageType="23456689564">Show XML</f:link.action></p>    
				</div>
			</li>
		</f:for>
	</ul>  
	<f:link.action action="new">New Podcast</f:link.action>
</f:section>