<f:layout name="default" />
<f:section name="main">
	<h1>{podcast.title}
		<span>
			<f:if condition="{settings.uids.list} > 0">
			<f:then>
				<f:link.action pageUid="{settings.uids.list}" action="list"><f:translate key="tx_podcast_domain_model_podcast.links.back" /></f:link.action>
			</f:then>
			<f:else>
				<f:link.action action="list"><f:translate key="tx_podcast_domain_model_podcast.links.back" /></f:link.action>
			</f:else>
			</f:if>
		</span>
	</h1>              
	<div class="info">
		<div class="image">            
			<f:if condition="{podcast.image}">
				<f:then>         
					<f:image height="100c" width="100c" src="uploads/tx_podcast/{podcast.image}" alt="{podcast.title}" />
				</f:then>
				<f:else>
					<f:image height="100c" width="100c" src="typo3conf/ext/podcast/Resources/Public/Icons/podcast.jpg" alt="{podcast.title}" />
				</f:else>
			</f:if>
		</div>
		<div class="description">
			<strong>{podcast.subtitle}</strong>
			<f:format.html><f:format.nl2br>{podcast.description}</f:format.nl2br></f:format.html>
			<f:if condition="{podcast.episodes}">
				<f:then> 
					<p class="feed">
					<f:if condition="{settings.uids.feed} > 0">
					<f:then>
						<f:link.action action="show" pageUid="{settings.uids.feed}" arguments="{podcast : podcast}" pageType="1289377">
							<f:image src="typo3conf/ext/podcast/Resources/Public/Icons/tx_podcast_domain_model_podcast.gif" alt="<f:translate key='tx_podcast_domain_model_podcast.feed' />" />
							<f:translate key="tx_podcast_domain_model_podcast.links.feed" />
						</f:link.action>
					</f:then>
					<f:else>
						<f:link.action action="show" arguments="{podcast : podcast}" pageType="1289377">
							<f:image src="typo3conf/ext/podcast/Resources/Public/Icons/tx_podcast_domain_model_podcast.gif" alt="<f:translate key='tx_podcast_domain_model_podcast.feed' />" />
							<f:translate key="tx_podcast_domain_model_podcast.links.feed" />
						</f:link.action>
					</f:else>
					</f:if>
					</p>
				</f:then>
			</f:if>
		</div>
	</div>

	<div class="episodes">                                                                                   
		<f:if condition="{podcast.episodes}">
			<f:then>
				<f:for each="{podcast.episodes}" as="episode" reverse="false">
					<f:cycle values="{1: 'odd' 2: 'even'}" as="zebraClass">
						<f:render partial="Episode" arguments="{episode: episode, zebraClass: zebraClass}" />
					</f:cycle>
				</f:for>
			</f:then>
			<f:else>
				<li><f:translate key="tx_podcast_domain_model_episode.none" /></li>
			</f:else>
		</f:if>	  
	</div>
	<f:if condition="{podcast.copyright}">
	<p class="copyright"> 
		{podcast.copyright} – <f:link.external uri="{podcast.website.link}" />{podcast.website.title}</a>
	</p>
	</f:if>
</f:section>