{namespace pc=Tx_Podcast_ViewHelpers}
<div class="episode {zebraClass}">
	<div class="description">
		<h3>{episode.title}<span><f:format.date date="{episode.publicationDate}" format="{settings.episode.fe.publicationDate}" /></span></h3>
		<f:format.html><f:format.nl2br>{episode.description}</f:format.nl2br></f:format.html>
	</div>
	<pc:if condition="'{episode.mime}'=='video/mp4'">
		<f:then>        
			<div class="video">
				<video width="{settings.video.width}" height="{settings.video.height}" id="podcastvideo_{episode.uid}" 
					preload="{settings.video.preload}" controls="controls" <f:if condition="{episode.image}">poster="{f:uri.image(src:'uploads/tx_podcast/{episode.image}', width:'{settings.video.width}' height:'{settings.video.height}c')}"</f:if>>
					<f:for each="{episode.altfiles}" as="altfile">
					<source src="{altfile.name}" type='{altfile.mime}' />
					</f:for>
					<!-- Flash fallback for non-HTML5 browsers without JavaScript -->
					<object width="{settings.video.width}" height="{settings.video.height}" type="application/x-shockwave-flash" data="flashmediaelement.swf">
						<param name="flashvars" value="controls=true&file={episode.altfiles.0.name}" />
						<param name="movie" value="/typo3conf/ext/podcast/Resources/Public/mediaelementplayer/flashmediaelement.swf" />
						<f:if condition="{episode.image}">poster="{f:uri.image(src:'uploads/tx_podcast/{episode.image}', width:'{settings.video.width}' height:'{settings.video.height}c')}"</f:if>
					</object>
				</video>
			</div>
		</f:then>
		<f:else>      
			<div class="audio">
				<audio controls="controls" preload="{settings.audio.preload}" data-width="{settings.audio.width}" data-height="{settings.audio.height}">
					<f:for each="{episode.altfiles}" as="altfile">
					<source src="{altfile.name}" type='{altfile.mime}'/>
					</f:for>
					<!-- Flash fallback for non-HTML5 browsers without JavaScript -->
					<object width="{settings.audio.width}" height="{settings.audio.height}" type="application/x-shockwave-flash" data="flashmediaelement.swf">
						<param name="flashvars" value="controls=true&file={episode.altfiles.0.name}" />
						<param name="movie" value="/typo3conf/ext/podcast/Resources/Public/mediaelementplayer/flashmediaelement.swf" />
						<f:if condition="{episode.image}">poster="{f:uri.image(src:'uploads/tx_podcast/{episode.image}', width:'{settings.audio.width}' height:'{settings.audio.height}c')}"</f:if>
					</object>
				</audio>
			</div>
		</f:else>
	</pc:if>
</div>