{namespace pc=Tx_Podcast_ViewHelpers}
<div class="episode {zebraClass}">     
		<pc:if condition="'{episode.mime}'=='video/mp4'">
			<f:then>  
				<div class="video">
					<video src="{episode.file}" controls="controls" width="100%"> 
						<p>
							<f:image src="typo3conf/ext/podcast/Resources/Public/Icons/nohtml5support.png" alt="<f:translate key='tx_podcast_domain_model_episode.novideo' />" /><br/>
							<f:translate key='tx_podcast_domain_model_episode.novideo' />
						</p>
					</video>
			</f:then>
			<f:else> 
				<div class="audio">                      
					<audio src="{episode.file}" controls="controls">
						<p>
							<f:image src="typo3conf/ext/podcast/Resources/Public/Icons/nohtml5support.png" alt="<f:translate key='tx_podcast_domain_model_episode.noaudio' />" /><br/>
							<f:translate key='tx_podcast_domain_model_episode.noaudio' />
						</p>
					</audio>
			</f:else>
		</pc:if>
		<p>
			<strong>Duration:</strong>
			<pc:duration timestamp="{episode.duration}" />
		</p>
	</div>   
	<div class="description">    
		<h3>{episode.title}<span><f:format.date date="{episode.publicationDate}" format="d.m.Y" /></span></h3>	           
		{episode.description}
	</div>
</div>
