{namespace pc=Tx_Podcast_ViewHelpers}
<div class="episode {zebraClass}">
	<div class="description">
		<h3>{episode.title}<span><f:format.date date="{episode.publicationDate}" format="{settings.episode.fe.publicationDate}" /></span></h3>
		<f:format.html><f:format.nl2br>{episode.description}</f:format.nl2br></f:format.html>
	</div>
	<pc:if condition="'{episode.mime}'=='video/mp4'">
		<f:then>        
			<div class="video">
				<video data-setup="{}" width="{settings.video.width}" height="{settings.video.height}" id="podcastvideo_{episode.uid}" 
					preload="auto" controls="controls" <f:if condition="{episode.image}">poster="{f:uri.image(src:'uploads/tx_podcast/{episode.image}', width:'800' height:'330')}"</f:if>>
					<f:for each="{episode.altfiles}" as="altfile">
					<source src="{altfile.name}" type='{altfile.mime}' />
					</f:for>
					Your browser does not support the video element.
				</video>
			</div>
		</f:then>
		<f:else>      
			<div class="audio">
				<audio controls="1" preload="auto"  width="{settings.audio.width}" height="{settings.audio.height}">
					<f:for each="{episode.altfiles}" as="altfile">
					<source src="{altfile.name}" type='{altfile.mime}'/>
					</f:for>
					Your browser does not support the audio element.
				</audio>
			</div>
		</f:else>
	</pc:if>
</div>