.modPodcast h1 span { float: right; font-size: 0.5em; }
.modPodcast textarea { width: 100%; height: 500px; }

.modPodcast .info { overflow: hidden; zoom: 1; margin-bottom: 1em; margin-bottom: 2em;}
.modPodcast .info .categories ul { overflow: hidden; margin: 0; padding: 0; }
.modPodcast .info .categories li { list-style: none; margin: 0; padding: 0; font-weight: bold;}
.modPodcast .info .categories ul ul li { float: left; list-style: none; margin: 0 1em 0 0; padding: 0; font-weight: normal; }
                                                                                       
.modPodcast .podcasts li { overflow: hidden; zoom: 1; margin: 1em 0; }          
.modPodcast .podcasts h2 span { float: right; font-weight: normal; font-size: 0.8em; }
.modPodcast .podcasts h2 a img { vertical-align: bottom; } 
.modPodcast .podcasts h3 { font-weight: normal; font-size: 1em; }

.modPodcast .image { float: left; border: 1px solid #ddd; }
.modPodcast .image img { margin: 1px; vertical-align: bottom; }         
.modPodcast .description { overflow: hidden; zoom: 1; padding: 0 1em; }           

.modPodcast .episodes .even { border-top: #eee 1px solid; border-bottom: #eee 1px solid; }
.modPodcast .episode { padding: 1em; overflow: hidden; zoom: 1; border-top: #eee 1px solid; }  
.modPodcast .episode h3 { overflow: hidden; zoom: 1; }    
.modPodcast .episode h3 span { float: right; font-weight: normal; }
.modPodcast .episode .audio { float: left; width: 100px; }
.modPodcast .episode .audio audio { width: 100px; }
.modPodcast .episode .video audio { width: 100%; }

.modPodcast .episode h3 { font-size: 1.2em; font-weight: bold; margin: 0; }
                                         
.modPodcast .copyright { padding: 0.5em 0 0; color: #ddd; font-size:0.8em; }

.modPodcast .feed { margin: 1em 0; }
.modPodcast .back { font-weight: bold; margin-top: 2em; }